<div class="todo">
    <div class="container">
        <div class="profile">
            <div class="profile-header">Perfil</div>
            <!-- Lista de atributos -->
            <ul>
                <li class="profile-attribute">Usuario: <span>{{ usuario }}</span> </li>
                <li class="profile-attribute">Nombre: <span>{{ nombre }}</span> </li>
                <li class="profile-attribute">Apellido: <span>{{ apellido }}</span> </li>
                <li class="profile-attribute">Correo: <span>{{ correo }}</span> </li>
                <li class="profile-attribute">Edad: <span>{{ edad }}</span> </li>
                <li class="profile-attribute">Contraseña: <span>{{ contrasena }}</span> </li>
            </ul>
        </div>
        <div class="options">
            <div class="options-header">Solicitudes</div>
            <ul>
                <li *ngFor="let solicitud of solicitudes">
                  ID: {{ solicitud.id }} - Entrada: {{ solicitud.entrada }} - Salidad: {{ solicitud.salida }}  <button (click)="obtenerSolcitud(solicitud)">ver</button>
                  </li>
              </ul>
        </div>
    </div>
</div>

