<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitudes</title>
    <link rel="stylesheet" href="csolicitudes.component.css">
</head>
<body>
    <div class="container">
        <div class="profile">
            <div class="profile-header">Perfil</div>
            <!-- Lista de atributos -->
            <ul>
                <li class="profile-attribute">Usuario: <span id="usuario">...</span></li>
                <li class="profile-attribute">Nombre: <span id="nombre">...</span></li>
                <li class="profile-attribute">Apellido: <span id="apellido">...</span></li>
                <li class="profile-attribute">Correo: <span id="correo">...</span></li>
                <li class="profile-attribute">Edad: <span id="edad">...</span></li>
                <li class="profile-attribute">Calificación: <span id="calificacion">...</span></li>
            </ul>
        </div>
        <div class="options">
            <div class="options-header">Solicitudes</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste alias deserunt itaque sit animi. Debitis animi quam, ipsam inventore neque itaque cum rem, voluptates veniam, eligendi eius! Minima, delectus aspernatur?</p>
            <!-- Resto del contenido -->
        </div>
    </div>
</body>
</html>
