<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nueva Propiedad</title>
<link rel="stylesheet" type="text/css" href="agregar-propiedad.component.css">
</head>
<body>

<div class="container">
  <div class="linea-superior"></div>
  <img src="logo.png" alt="Logo" class="logo">
  <h2>Nueva Propiedad</h2>
  <div class="input-group">
    <input type="text" placeholder="Nombre">
  </div>
  <div class="input-group">
    <input type="number" placeholder="Valor por Día">
  </div>
  <div class="input-group">
    <button>Guardar</button>
  </div>
</div>

</body>
</html>
