<div class="forpadding">
<header class="header">
    <div class="container logo-nav-container">
        <a href="">
            <img src="logo.png" alt="LOGO" class="logo-imagen">
        </a>
        <nav class="navigation">
            <ul>
                <li><button class="boton" (click)="Irabuscar()">Propiedades</button></li>
                <li><button class="boton" (click)="Irasolicitudes()">Solicitudes</button></li>
                <li><button class="boton" (click)="Iraperfil()">Perfil</button></li>
            </ul>
        </nav>
    </div>
</header>
</div>

