<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inicio de Sesión</title>
<link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>

<div class="container">
    <div class="linea-superior"></div>
  <img src="logo.png" alt="Logo" class="logo">
  <h2>Iniciar Sesión</h2>
  <div class="input-group">
    <input type="text" placeholder="Usuario">
  </div>
  <div class="input-group">
    <input type="password" placeholder="Contraseña">
  </div>
  <div class="input-group">
    <button>Iniciar Sesión</button>
  </div>
  <div class="input-group">
    <button (click)="IraRegistrarse()">Registrarse</button>
  </div>
</div>

</body>
</html>