
<div class="todo">
    <div class="container">
        <div class="profile">
            <div class="profile-header">Perfil</div>
            <!-- Lista de atributos -->
            <ul>
                <li class="profile-attribute">Usuario: <span id="usuario">...</span> <button class="change-button">Cambiar</button></li>
                <li class="profile-attribute">Nombre: <span id="nombre">...</span> <button class="change-button">Cambiar</button></li>
                <li class="profile-attribute">Apellido: <span id="apellido">...</span> <button class="change-button">Cambiar</button></li>
                <li class="profile-attribute">Correo: <span id="correo">...</span> <button class="change-button">Cambiar</button></li>
                <li class="profile-attribute">Edad: <span id="edad">...</span> <button class="change-button">Cambiar</button></li>
                <li class="profile-attribute">Contraseña: <span id="contrasena">...</span> <button class="change-button">Cambiar</button></li>
            </ul>
        </div>
    </div>
</div>
