<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Calificar</title>
<link rel="stylesheet" type="text/css" href="calificar.component.css">
</head>
<body>

<div class="container">
  <div class="linea-superior"></div>
  <img src="logo.png" alt="Logo" class="logo">
  <h2>Calificar</h2>
  <div class="input-group">
    <input type="text" placeholder="Calificar Cliente">
  </div>
  <div class="input-group">
    <button>Aceptar</button>
  </div>
</div>

</body>
</html>
