<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="header.component.css">
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container">
            <a href="">
                <img src="logo.png" alt="LOGO" class="logo-imagen">
            </a>
            <nav class="navigation">
                <ul>
                    <li><a href="">Buscar</a></li>
                    <li><a href="">Solicitudes</a></li>
                    <li><a href="">Perfil</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main class="main">
        <div class="container">
            <h1>
                TITULO DE LA PAGINA
            </h1>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia nihil asperiores beatae commodi iste maxime? Accusantium aliquid, quisquam voluptatibus porro hic, ducimus velit labore eaque architecto ullam neque quia voluptate?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia nihil asperiores beatae commodi iste maxime? Accusantium aliquid, quisquam voluptatibus porro hic, ducimus velit labore eaque architecto ullam neque quia voluptate?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia nihil asperiores beatae commodi iste maxime? Accusantium aliquid, quisquam voluptatibus porro hic, ducimus velit labore eaque architecto ullam neque quia voluptate?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia nihil asperiores beatae commodi iste maxime? Accusantium aliquid, quisquam voluptatibus porro hic, ducimus velit labore eaque architecto ullam neque quia voluptate?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia nihil asperiores beatae commodi iste maxime? Accusantium aliquid, quisquam voluptatibus porro hic, ducimus velit labore eaque architecto ullam neque quia voluptate?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia nihil asperiores beatae commodi iste maxime? Accusantium aliquid, quisquam voluptatibus porro hic, ducimus velit labore eaque architecto ullam neque quia voluptate?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia nihil asperiores beatae commodi iste maxime? Accusantium aliquid, quisquam voluptatibus porro hic, ducimus velit labore eaque architecto ullam neque quia voluptate?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia nihil asperiores beatae commodi iste maxime? Accusantium aliquid, quisquam voluptatibus porro hic, ducimus velit labore eaque architecto ullam neque quia voluptate?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia nihil asperiores beatae commodi iste maxime? Accusantium aliquid, quisquam voluptatibus porro hic, ducimus velit labore eaque architecto ullam neque quia voluptate?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia nihil asperiores beatae commodi iste maxime? Accusantium aliquid, quisquam voluptatibus porro hic, ducimus velit labore eaque architecto ullam neque quia voluptate?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia nihil asperiores beatae commodi iste maxime? Accusantium aliquid, quisquam voluptatibus porro hic, ducimus velit labore eaque architecto ullam neque quia voluptate?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia nihil asperiores beatae commodi iste maxime? Accusantium aliquid, quisquam voluptatibus porro hic, ducimus velit labore eaque architecto ullam neque quia voluptate?</p>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>pagina por</p>
        </div>
    </footer>
</body>
</html>