
<div class="container">
    <div class="profile">
        <div class="profile-header">Perfil</div>
        <ul>
            <li class="profile-attribute">Usuario: <span id="usuario">...</span></li>
            <li class="profile-attribute">Nombre: <span id="nombre">...</span></li>
            <li class="profile-attribute">Apellido: <span id="apellido">...</span></li>
            <li class="profile-attribute">Correo: <span id="correo">...</span></li>
            <li class="profile-attribute">Edad: <span id="edad">...</span></li>
            <li class="profile-attribute">Calificación: <span id="calificacion">...</span></li>
        </ul>
    </div>
    <div class="options">
        <div class="profile-header"></div>
        <button class="agregar-btn" (click)="agregar()">Agregar</button>
        <div class="content-header">Propiedades Encontradas</div>
            <ul>
                <li *ngFor="let propiedad of propiedades">
                  ID: {{ propiedad.id }} - nombre: {{ propiedad.nombre }} - valor por dia: {{ propiedad.valordia }}  <button (click)="obtenerpropiedad(propiedad)">ver</button>
                  </li>
              </ul>
    </div>
</div>

