
    <div class="container">
        <div class="content-box">
            <div class="title">Propiedad</div>
            <img src="fondo2.jpg" alt="Imagen de propiedad" class="imagen">
            <div class="field">Nombre: <span>{{ nombre }}</span></div>
            <div class="field">Visitas: <span>{{ visitas }}</span></div>
            <div class="field">Calificación: <span>{{ calificacion }}</span></div>
            <div class="field">Valor del día: <span>{{ valordia }}</span></div>
            <button class="arrendar-btn" (click)="arrendar()">Arrendar</button>
        </div>
    </div>

