<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registro</title>
<link rel="stylesheet" type="text/css" href="ccambiar.component.css">
</head>
<body>

<div class="container">
  <div class="linea-superior"></div>
  <img src="logo.png" alt="Logo" class="logo">
  <h2>Registro</h2>
  <div class="input-group">
    <input type="text" placeholder="Nombre" id="nombre_usu">
  </div>
  <div class="input-group">
    <input type="text" placeholder="Apellido" id="apellido_usu">
  </div>
  <div class="input-group">
    <input type="text" placeholder="Correo Electrónico" id="correo_usu">
  </div>
  <div class="input-group">
    <input type="text" placeholder="Usuario" id="usuario_usu">
  </div>
  <div class="input-group">
    <input type="password" placeholder="Contraseña" id="contrasena_usu">
  </div>
  <div class="input-group">
    <input type="number" placeholder="Edad" id="edad_usu">
  </div>
  <div class="input-group">
    <button (click)="Iracomponente()">Cambiar</button>
  </div>
</div>

</body>
</html>
