body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('fondo2.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semitransparente */
    padding: 40px; /* Añadido padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 70%; /* Ocupa el 70% del ancho de la pantalla */
    max-width: 500px; /* Máximo ancho */
    position: relative; /* Añadido para posicionar el logo */
  }
  
  .input-group, .profile-attribute {
    width: 100%;
    box-sizing: border-box; /* Añadido para incluir el padding y el borde en el ancho */
  }
  
  .input-group {
    margin-bottom: 10px; /* Ajusta el margen inferior */
  }
  
  .input-group input, .input-group button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    box-sizing: border-box; /* Añadido para incluir el padding en el ancho */
  }
  
  .input-group button {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave */
  }
  
  .input-group button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el ratón */
  }
  
  .logo {
    position: absolute;
    top: -15px; /* Ajusta según necesites */
    left: 20px; /* Ajusta según necesites */
    width: 6rem;
  }
  
  .linea-superior {
    width: 100%;
    height: 2px;
    padding: 1.5rem 0rem;
    background-color: #dd4b1b;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: -20px; /* Ajusta según necesites */
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .profile-attribute {
    color: #333; /* Texto gris oscuro */
    border-bottom: 1px solid #666; /* Línea inferior gris más oscura */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Espacio inferior */
    list-style: none; /* Eliminar los puntos de la lista */
    display: flex; /* Añadido */
    justify-content: space-between; /* Añadido */
    align-items: center; /* Añadido */
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  
  