
<div class="container">
  <div class="linea-superior"></div>
  <h2>Reserva</h2>
  <ul>
    <li class="profile-attribute">Propiedad: <span id="propiedad"> Nombre de la propiedad</span></li>
    <li class="profile-attribute">Valor por día: <span id="valor-dia">100</span></li>
  </ul>
  <div class="input-group">
    <input type="date" id="fecha-entrada" placeholder="Fecha de entrada">
  </div>
  <div class="input-group">
    <input type="date" id="fecha-salida" placeholder="Fecha de salida">
  </div>
  <ul>
    <li class="profile-attribute">Precio Total: <span id="precio-total">0</span></li>
  </ul>
  <div class="input-group">
    <button (click)="sooli()">Aceptar</button>
  </div>
</div>
