<div class="container">
    <div class="content-box">
        <div class="title">Datos de Reserva</div>
        <div class="field">Calificación del Cliente: <span>{{ calificacion_cliente }}</span></div>
        <div class="field">Calificación del Propietario: <span>{{ calificacion_propietario }}</span></div>
        <div class="field">Calificación de la Propiedad: <span>{{ calificacion_propiedad }}</span></div>
        <div class="field">Precio Total: <span>{{ precio_total }}</span></div>
        <div class="field">Fecha de Entrada: <span>{{ fecha_entrada }}</span></div>
        <div class="field">Fecha de Salida: <span>{{ fecha_salida }}</span></div>
        <div class="field">Estado: <span>{{ estado }}</span></div>
        <button class="calificar-btn" (click)="calificar()">Calificar</button>
    </div>
</div>
